.about {
  height: 75vh;

  border: 1px solid var(--secondary);
  box-shadow: 10px 10px 40px rgba(255, 255, 255, 0.062);

  color: var(--secondary);

  transition: .5s all;
}

.my-slider {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.slider {
  height: 100%;
}

.slider div {
  background-color: #fff;
  text-align: center;
}

.about:hover {
  border: 1px solid var(--highlight);
  box-shadow: -20px -20px 50px rgba(255, 255, 255, 0.062);

  color: var(--highlight);
}

.about p {
  color: var(--main-text-color);
}
