.education {
  width: 100vw;
  padding: 2.4rem;

  background-color: var(--highlight);
}

.education h3 {
  margin-left: 4rem;
  margin-bottom: 1.8rem;
  text-transform: uppercase;
}

.education h4 {
  font: var(--subtitles);
  margin-left: 4rem;
  color: var(--dark-text-color);
}

.education h4:last-of-type {
  font-size: 1.6rem;
}