nav {
  width: 100vw;
  height: 100vh;

  display: flex;
}

nav a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3.2rem;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
  color: rgba(255, 255, 255, 0.85);

  transition: .3s all;
}

nav a:hover {
  padding-top: 15px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .6);
  background-color: rgba(255, 255, 255, 0.075);
}