.work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
}

@media (max-width: 768px) {
  .work {
  grid-template-columns: 1fr;
  }
  
}

.eachRepo {
  display: flex;
  flex-direction: column;
}

.repoLink {
  min-width: 22vw;
  min-height: 180px;
  margin: 1.6rem;
  padding: 1.6rem;

  box-shadow: 11px 11px 30px rgba(0, 0, 0, 0.2);
  
  position: relative;
  transform: perspective(1px) translateZ(0);  
  transition: .3s all ease-out;
}

.repoLink:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  transform: scaleY(0);
  transition: all .5s ease-out;
}

.repoLink:hover {
  transform: translateY(-20px) scale(1.1);
}

.repoLink:hover:before, .repoLink:focus:before, .repoLink:active:before {
  transform: scaleY(1);
}

.repoLink p {
  transition: 1s all;
  opacity: 0;

  margin: 2.4rem auto 0;
}

@media (min-width: 992px) {
  .repoLink p {
    font-size: 1rem;
  }
}

.repoLink:hover p {
  opacity: 1;
  transform: translateX(10px);
}

.repoLink h1 {
  width: fit-content;
  padding: .2rem .5rem;
  margin-bottom: .8rem;

  border-radius: 7px;
  color: rgb(162, 0, 255);
  background-color: #fff;

  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.repoLink small {
  font-size: .8rem;
  font-weight: 500;
  
  width: fit-content;
  padding: .2rem .5rem;
  margin-bottom: 2.4rem;
  border-radius: 5px;

  color: #fff;
  background-color: rgb(162, 0, 255);
}