@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Oxygen&family=Quicksand:wght@300;400;500;700&display=swap');

* { margin: 0; padding: 0; list-style: none;}


:root {
  /*font styles*/
  --main-text: 400 1.3rem 'Oxygen', 'sans-serif';
  --titles: 400 2.4rem 'Quicksand', 'sans-serif';
  --subtitles: 300 1.8rem 'Quicksand', 'sans-serif';
  --links: 300 1rem 'Quicksand', 'sans-serif';

  /*colors*/
  --main-text-color: #d3ccdd;
  --dark-text-color: #291d57;
  --secondary: #776d8a;
  --highlight: #e94560;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;

  background: linear-gradient(305deg, #20013f, #6c01b4, #ae00ff);
  background-size: 800% 800%;
  -webkit-animation: bggradient 6s ease infinite;
  -moz-animation: bggradient 6s ease infinite;
  animation: bggradient 6s ease infinite;

  font: var(--main-text);
  color: var(--main-text-color);
}

@-webkit-keyframes bggradient {
  0%{background-position:92% 0%}
  50%{background-position:9% 100%}
  100%{background-position:92% 0%}
}
@-moz-keyframes bggradient {
  0%{background-position:92% 0%}
  50%{background-position:9% 100%}
  100%{background-position:92% 0%}
}
@keyframes bggradient {
  0%{background-position:92% 0%}
  50%{background-position:9% 100%}
  100%{background-position:92% 0%}
}

section {
  width: 80vw;
  margin: 2.4rem auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font: var(--titles);
}

h2 {
  font: var(--subtitles);
  color: var(--highlight);
  text-transform: uppercase;
  letter-spacing: 5px;
}

a {
  font: var(--links);
  text-decoration: none;
  color: #fff;
}

.each-section-title {
  font-size: 2.4rem;
  text-align: center;
  text-decoration: underline;
  text-underline-position: under;
  text-transform: uppercase;
}