.about {
  width: 80vw;
  margin: 2.4rem auto;

  border: 1px solid var(--secondary);
  box-shadow: 10px 10px 40px rgba(255, 255, 255, 0.062);

  color: var(--secondary);

  transition: .5s all;
}

.about:hover {
  border: 1px solid var(--highlight);
  box-shadow: -20px -20px 50px rgba(255, 255, 255, 0.062);

  color: var(--highlight);
}

.about div {
  width: 100%;
}

.about h2,
.about p,
.about small {
  margin: 1rem 2.4rem;
}

.about p {
  font-size: 1rem;
  letter-spacing: 3px;
  color: var(--main-text-color);
}